[Unit]
Description="run traceroutes"

[Service]
User=root
ExecStart=/usr/bin/python3 /home/rc/idp-castellotti/main.py \
            --asndb /home/rc/idp-castellotti-data/ipasn_20230315.dat \
            -r /home/rc/idp-castellotti/targets.csv \
            -d /home/rc/idp-castellotti-data/new-traceroutes-latency \
            --verbose
